*{margin: 0; padding: 0; font-size: 24px; color: #fff;}
a{color: #333; text-decoration: none;}
li{list-style: none;}
table{border-spacing: 0;}
.clearfix::before,.clearfix::after{display: block; content: ''; clear: both;}

#wrap {width: 1200px; margin: 0px auto;}

#header{width: 100%; background-color: rgb(146, 177, 101); text-align: center;}
#header .logo {float: left; width: 250px; height: 100px; line-height: 100px; background-color: rgb(154, 194, 95);}
#header .nav{float: right; width: 600px; margin-top: 28px; background-color: rgb(108, 167, 19); }
#header .nav li{position:relative; float: left; width: 25%; text-align: center;}
#header .nav li a{display: block; padding: 10px; font-size: 20px;}
#header .nav li a:hover{background-color:rgba(0,0,0,0.4);}
#header .nav li ul.submenu{display: none; position: absolute;z-index: 5; left: 0; top: 44px; background-color: greenyellow;}
#header .nav li ul.submenu li{width: 100%;}


/* banner */
#banner {overflow: hidden; width: 1200px;text-align: center; }

/* slider */
.slideList { position:relative; width:3600px ; height: 50px; line-height: 50px; }
.slideList .slideImg {width:1200px;float: left;position: relative;}
.slideList .slideImg h2{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
background-color: rgba(255,255,255,0.5); padding: 10px 10px;border-radius: 25px; }
.slideList .slideImg img{display: block;}

#contents{text-align: center; width: 1200px;}
#contents > div{float: left; width: 33.333333%;}
#contents > div.c1{background-color: pink; height: 247px;}
#contents > div.c2{background-color: palevioletred; height: 247px; line-height: 247px;}
#contents > div.c3{background-color: rgb(161, 26, 71); height: 247px; line-height: 247px;}

.tab-menu{padding: 10px;}
.tab-menu .tab-btn ul{overflow: hidden;}
.tab-menu .tab-btn li{float: left; width: 160px; background-color: plum; text-align: center; margin-right: -1px;}
.tab-menu .tab-btn li .active{text-decoration: underline;}
.tab-menu .tab-btn li a{padding: 10px; display: block; color: #fff;}
.tab-menu .tab-cont {padding: 20px; background-color: #512da8; text-align: left;}

#footer{height: 100px; line-height: 100px; text-align: center;}
#footer .f1{float: left;width:200px; background-color: springgreen;}
#footer .f2{float: left;width:800px; background-color: rgb(8, 107, 58);}
#footer .f3{float: left;width:200px; background-color: springgreen;}

.layer{display: none; position: absolute; left: 50%; top: 50%; 
    width: 500px; height: 500px; background: #fff; border: 2px solid #000;
    margin-left: -250px; margin-top: -250px; z-index: 1000;}
.layer h2{padding: 20px; color: #000;}
.layer h3{padding: 10px; color: red;}
.layer .close{position: absolute; bottom: 20px; right: 20px;}

